{% load static %}
<!-- jQuery -->
<script src={% static "js/jquery.min.js" %}></script>
<!-- Bootstrap Core JavaScript -->
<script src={% static "js/bootstrap.min.js" %}></script>
<!-- Bootstrap Select -->
<script src={% static "js/bootstrap-select.min.js" %}></script>
<!-- Menu Plugin JavaScript -->
<script src={% static "plugins/sidebar-nav/js/sidebar-nav.min.js" %}></script>
<!--slimscroll JavaScript -->
<script src={% static "js/jquery.slimscroll.js" %}></script>
<!--Wave Effects -->
<script src={% static "js/waves.js" %}></script>
<!-- DataTables -->
<script src={% static "plugins/datatables/js/jquery.dataTables.min.js" %}></script>
<script src={% static "plugins/datatables/js/dataTables.buttons.min.js" %}></script>
<script src={% static "plugins/datatables/js/buttons.bootstrap.min.js" %}></script>
<!-- SweetAlert -->
<script src={% static "plugins/sweetalert/js/sweetalert.min.js" %}></script>
<!-- Switchery -->
<script src={% static "plugins/switchery/js/switchery.min.js" %}></script>
<!-- Footable -->
<script src={% static "plugins/footable/js/footable.all.min.js" %}></script>
<script src={% static "js/footable-init.js" %}></script>
<!-- MultiSelect -->
<script src={% static "plugins/multiselect/js/multiselect.js" %}></script>
<!-- Jquery Filter -->
<script src={% static "plugins/filter/js/jquery.filer.js" %}></script>
<script src={% static "plugins/filter/js/prettify.js" %}></script>
<script src={% static "plugins/filter/js/custom.js" %}></script>
<!-- Bootstrap Datetimepicker JS -->
<script src={% static "plugins/datetimepicker/js/bootstrap-datetimepicker.min.js" %}></script>
<script src={% static "plugins/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" %}></script>
<!-- iCheck JS -->
<script src={% static "plugins/icheck/js/icheck.min.js" %}></script>
<!-- CodeMirror JS -->
<script src={% static "plugins/codemirror/js/codemirror.js" %}></script>
{#<script src={% static "plugins/codemirror/js/merge.js" %}></script>#}
{#<script src={% static "plugins/codemirror/js/diff_match_patch.js" %}></script>#}
<script src={% static "plugins/codemirror/js/javascript.js" %}></script>
<script src={% static "plugins/codemirror/js/formatting.js" %}></script>
<!-- Bootstrap Validator CSS -->
<script src={% static "js/bootstrap-validator.min.js" %}></script>
<script src={% static "js/validator-init.js" %}></script>
<!-- Custom Theme JavaScript -->
<script src={% static "js/custom.min.js" %}></script>
<!--Style Switcher -->
<script src={% static "plugins/styleswitcher/js/jQuery.style.switcher.js" %}></script>
{#<!-- Custom Theme JavaScript -->#}
<script src={% static "js/pingAdmin.js" %}></script>